{% load album_tag %}
<div class="side-bar col-lg-3">
    <div class="search-bar w3layouts-newsletter">
        <h3 class="sear-head editContent" >Поиск альбома</h3>
        <form action="{% url 'search' %}" method="get" class="d-flex editContent" >
            <input type="search" placeholder="Введите название..." name="q" class="form-control" required="">
            <button type="submit" class="btn1 btn" >
                <span class="fa fa-search" aria-hidden="true" ></span>
            </button>
        </form>
    </div>

    <form action="{% url 'filter' %}" method="get">
    {% if view.get_genres %}
        <div class="left-side my-4">
            <h3 class="sear-head editContent" >Жанры</h3>
            <ul class="w3layouts-box-list">
                {% for genre in view.get_genres %}
                <li class="editContent" >
                    <input type="checkbox" class="checked" name="genre" value="{{ genre.id }}">
                    <span class="span editContent" >{{ genre.name }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if view.get_years %}
        <div class="left-side">
            <h3 class="sear-head editContent" >Год</h3>
            <ul class="w3layouts-box-list">
                {% for album in view.get_years %}
                <li class="editContent" >
                    <input type="checkbox" class="checked" name="year" value="{{ album.year }}">
                    <span class="span editContent" >{{ album.year }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if view.get_years %}
        <div class="left-side">
            <h3 class="sear-head editContent mt-4" >Страна</h3>
            <ul class="w3layouts-box-list">
                {% for album in view.get_country %}
                <li class="editContent" >
                    <input type="checkbox" class="checked" name="country" value="{{ album.country }}">
                    <span class="span editContent" >{{ album.country }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if view.get_genres or view.get_years or view.get_years %}
        <button type="submit" class="btn btn-dark mt-4">Найти</button>
    {% endif %}
    </form>
    <div class="mt-5">
        {% get_last_albums count=5 %}
    </div>
</div>